@import url('https://fonts.googleapis.com/css?family=K2D:300');

:root
{
    --site_title: "Oneless - Timetables for students";

    /* Palette */
    --white: #f9f9f9;
    --dark-grey: #4d4d4d;
    --light-brown: #deaa87;
    --dark-brown: #d38d5f;
    --yellow: #ffcc00;
    --green: #8dd35f;
    --pink: #de87aa;
    --paper: linear-gradient(90deg, var(--white), #e9e9e9, #e9e9e9, var(--white));
    
}

header
{
    background-color: var(--dark-grey);
    background-image: none;
    border-bottom: 0;
    height: 64px;
    margin-top: 0;
    padding: 0;
    width: 100%;
    position: fixed;
}

.main_logo
{
    width: auto;
    height: 48px;
    margin: 8px; 
}

header::before, h1, #home_buttons
{
    display: none;
}