:root
{
    --site_title: "Oneless - Timetables for students";

    /* Palette */
    --white: #f9f9f9;
    --dark-grey: #4d4d4d;
    --light-brown: #deaa87;
    --dark-brown: #d38d5f;
    --yellow: #ffcc00;
    --green: #8dd35f;
    --pink:#de87aa;
    --paper: linear-gradient(90deg, var(--white), #e9e9e9, #e9e9e9, var(--white))
}

body
{
    margin:0;
    padding:0;
    background-color: var(--light-brown);
}

.main_logo
{
    height: 60px;
    width: 60px;
}

wrapper
{
    width: 100%;
    margin: 0;
}

#column
{
    margin: 2%;
    width: 96%;
    padding: 0;
}

main
{
    background-image: var(--paper);
    width: 100%;
    padding: 0;
}

#site_title
{
    content: var(--site_title);
}

nav
{
    width: 100%;
}

#user_panel
{
    background-color: var(--dark-grey);
    color: var(--white);
    float: right;
    width: 200px;
    height: 70px;
    margin: 10px;
    overflow:auto;
}
#user_panel img
{
    width: 60px;
    height: 60px;
    margin: 5px;
    float: right;
}
#user_panel p
{
    width: 40px;
    height: 60px;
    margin: 0;
    padding: 0;
    float: right;
}

nav li
{
    background-color: var(--yellow);
    padding: 8px;
    width: 100%;
    list-style: none;
    margin: 10px;
}
footer
{
    background-color: var(--dark-grey);
}

footer li
{
    padding: 8px;
    width: 10%;
    list-style: none;
    margin: 10px 0px;
    float: left;
}

img
{
    background-color: var(--green);
    width: 200px;
    height: 100px;
}

header
{
    background-color: var(--yellow);
    border-bottom: 15px solid var(--dark-grey);
    height: 180px;
}

h1
{
    color: var(--white);
    width: 50%;
    float: left;

}

/* ------------------------------------------Desktop------------------------------------------ */
/* ########################################################################################### */

@media only screen and (min-width: 650px)
{
    .main_logo
    {
        height: 60px;
        width: 60px;
    }

    #column
    {
        margin: 0;
    }

    header, #column, footer
    {
        display: inline-block;
        padding: 0 calc((100% - 800px)/2);
        width: 800px;
    }

    main
    {
        background-color: var(--white);
        width: 80%;
        padding: 30px 8%;
        margin-top:-65px;
    }

    #site_title
    {
        content: var(--site_title);
    }

    nav
    {
        width: 20%;
        float: right;
    }

    #user_panel
    {
        background-color: var(--dark-grey);
        color: var(--white);
        float: right;
        width: 200px;
        height: 70px;
        margin: 10px;
        overflow:auto;
    }
    #user_panel img
    {
        width: 60px;
        height: 60px;
        margin: 5px;
        float: right;
    }
    #user_panel p
    {
        width: 40px;
        height: 60px;
        margin: 0;
        padding: 0;
        float: right;
    }

    nav li
    {
        background-color: var(--yellow);
        padding: 8px;
        width: 100%;
        list-style: none;
        margin: 10px;
    }
    footer
    {
        background-color: var(--dark-grey);
    }

    footer li
    {
        padding: 8px;
        width: 10%;
        list-style: none;
        margin: 10px 0px;
        float: left;
    }

    img
    {
        background-color: var(--green);
        width: 200px;
        height: 100px;
    }

    header
    {
        background-color: var(--yellow);
        border-bottom: 15px solid var(--dark-grey);
        height: 180px;
    }

    h1
    {
        color: var(--white);
        width: 50%;
        float: left;

    }
}